/*
# Custom Beeper app style
This file will be injected as a <style> tag
After making your changes, type "Reload custom CSS" in the command bar
To open dev tools, open the command bar and type "open console"
*/

/* Changed colors and emojis */
:root {
  --color-base-black: #202020 !important;
  --color-base-gray-30: #202020 !important;
  --font-family: "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
  --color-primary: #5bbde9 !important;
  --color-on-primary: #000 !important;
  --color-highlight-reaction: #56add500 !important;
}

/*
  ------
  Terrible tooltips
  ------
*/
.BrandTooltip-module__tooltip {
  display: none !important;
}

/*
  ------
  Left sidebar with servers
  ------
*/

/* Blue indicator when selected */
.BrandTooltip-module__container.sidebar-button.selected::before {
    position: absolute;
    content: "";
    height: 16px;
    border-radius: 4px;
    width: 2px;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    background-color: #60CDFF;
    animation: wui-h-center 0.3s 1;
}

/* Focus effect when selected */
.BrandTooltip-module__container.sidebar-button.selected:focus {
  backdrop-filter: blur(4px);
  background-color: rgba(0,95,186,0.08);
}

/* Hover effect */
.BrandTooltip-module__container.sidebar-button:hover {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);
}

/* Button Sizes */
.sidebar-button-container button {
  width: 36px !important;
  height: 32px !important;
}
.sidebar-button.sidebar-button--fixed {
  width: 36px !important;
  height: 32px !important;
}
.sidebar-button-container {
  height: auto !important;
  width: 36px !important;
  height: 32px !important;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
  padding-right: 0 !important;
}
.sidebar-button.sidebar-button--fixed button {
  width: 36px !important;
  height: 32px !important;
  border-radius: 4px;
}

/* Notification badge */

.AccountBadge-module__dot {
  color: var(--color-on-primary) !important;
}

/* Icon sizes */
.brand-combined-icon.BrandNetworkIcon-module__brandNetworkIcon {
  width: 18px !important;
  height: 18px !important;
  margin: 0 auto !important;
}
.brand-combined-icon.participant-img  {
  width: 18px !important;
  height: 18px !important;
  margin: 0 auto !important;
  border-radius: 35% !important;
}

/* Sidebar size */
.account-switcher {
  padding: 0 !important;
  padding-top: 6px !important;
  width: 44px !important;
  gap: 4px !important;
}

/* Gap between accounts */
.accounts {
  gap: 4px !important;
}

/* Removed annoying hovering trigger that actually breaks hovering */
.Sidebar-module__hoveringTrigger {
  width: 0px !important;
}

/* Transition effect for footer buttons (settings and new account) */
.left-pane-footer-buttons {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Footer icon sizes */
.left-pane-footer-buttons>.BrandTooltip-module__container>button>svg {
  width: 16px !important;
  height: 16px !important;
}

/* Footer button size */
.left-pane-footer-buttons>.BrandTooltip-module__container>button {
  width: 36px !important;
  height: 32px !important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Footer button hover effect */
.left-pane-footer-buttons>.BrandTooltip-module__container>button:hover {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px !important;
}

/* Transition and Border Radius when hovering icons */
.sidebar-button {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 4px !important;
}

/* 
  ------
  Message threads (chats) header
  ------
*/

/* Hover effect for the tab bar (search and new chat) */
.BrandTooltip-module__container.tab-bar-btn:hover {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px !important;
  
}

/* Hover effect for the channel name in header */
.CurrentAccount-module__sidebarHeader:hover {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px !important;
}

/* Channel name padding */
.CurrentAccount-module__sidebarHeader {
  padding: 8px !important;
}

/* 
  ------
  Left sidebar with message threads (chats)
  ------
*/

/* Hover effect for Inbox/Unread/Low Priority/Archived */
.AccountFilters-module__button:hover {
  color: rgba(255, 255, 255, 0.45);
}

/* Transition */
.AccountFilters-module__button {
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

/* Focus effect for Inbox/Unread/Low Priority/Archived */
.AccountFilters-module__selected {
  backdrop-filter: blur(0px);
  background-color: rgba(0,0,0,0);
  background: rgba(0,0,0,0);
}

/* Remove the medium font from the selected filters */
.AccountFilters-module__button.AccountFilters-module__selected {
  background-color: rgba(0,0,0,0);
  background: rgba(0,0,0,0);
  font: inherit !important;
}

/* Blue indicator when selecting a filter */
.AccountFilters-module__selected::before {
    position: absolute;
    content: "";
    height: 2px;
    border-radius: 4px;
    width: 16px;
    bottom: 0px;
    top: calc(100% - 3px);
    transform: translateY(50%);
    left: calc(50% - 16px / 2);
    background-color: #60CDFF;
    animation: wui-w-center-2 0.3s 1;
}

/* Sidebar thread animation and border radius */
.sidebar-thread {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 4px;
}

/* Blue indicator when PINNED selected */
.sidebar-thread.isSelected.isPinned::before {
    position: absolute;
    content: "";
    height: 4px;
    border-radius: 4px;
    width: 32px;
    bottom: 0px;
    top: calc(100% - 6px);
    transform: translateY(50%);
    left: calc(50% - 32px / 2);
    background-color: #60CDFF;
    animation: wui-w-center 0.3s 1;
}

/* Blue indicator when selected in main chats */
.sidebar-thread.isSelected::before {
    position: absolute;
    content: "";
    height: 32px;
    border-radius: 4px;
    width: 4px;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    background-color: #60CDFF;
    animation: wui-h-center-2 0.3s 1;
}

/* Focus effect when selected */
.sidebar-thread.isSelected:focus {
  backdrop-filter: blur(4px);
  background-color: rgba(0,95,186,0.08);
  border-radius: 4px !important;
}

/* Hover effect */
.sidebar-thread:hover {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px !important;
}

/* Border radius for selected chats */
.ThreadListItem-module__wrapper.ThreadListItem-module__isSelected::before {
  border-radius: 4px !important;
}

/* Badge size */
.account-badge-count {
  min-width: 12px !important;
  max-height: 12px !important;
  font-size: xx-small !important;
  z-index: 999 !important;
}

/* Remove mask from behind the badge */
.BrandTooltip-module__container.sidebar-button {
  mask-image: none !important;
  -webkit-mask-image: none !important;
}

/* Fix for network icons appearing cut off */
.ThreadListItem-module__platformIcon {
  width: auto !important;
  height: auto !important;
}

/* Fix for unknown avatars showing a black image instead of white */
.UnknownAvatar-module__foreground {
  fill: white
}

/*
  ------
  Command Bar / Search Bar
  ------
*/

/* Command Bar Modal at the top */
.modal-container.command-bar-modal {
  justify-content: start !important;
}

/*
  ------
  Right pane (message content, settings, etc.)
  ------
*/

/* Removed frame gap to take full height */
.right-wrapper {
  --frame-gap: 0px !important;
  border-radius: 0% !important;
}

/* Message bar */
.ComposeMessage-module__input {
  border-radius: 4px !important;
  border: 2px solid #2e2e2f !important;
  border-bottom: 2px solid #9a9a9a !important;
  background-color: #2f2f2f !important;
}
.ComposeMessage-module__input:hover {
  background-color: #333333 !important;
}

/* Message bar focus effect */
:has(.ComposeMessage-module__textArea:focus) .ComposeMessage-module__input {
  border-bottom: 2px solid #4cc2ff !important;
  background-color: #202020 !important;
}

/* + buttons in the message bar */
.BrandHiddenControls-module__toggle {
  background-color: #2f2f2f !important;
}
.BrandHiddenControls-module__toggle:hover  {
  background-color: #333333 !important;
}

/* Chat content size */
.message-attachments .img, .message-attachments video, .message-attachments img {
  border-radius: 8px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
}
.MessageContent-module__contents {
  border-radius: 8px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
}

/* Emoji and Speaker icons in the message bar */
.ComposeMessage-module__textAreaButtons {
  padding-right: 8px !important;
}

/* Message background and shadow */
.MessageContent-module__contents {
  background: #353535 !important;
  box-shadow: none !important;
}

/* Message as sender background */
.MessageContent-module__isSender {
  background: var(--color-primary) !important;
}

/* Fix for emojis appearing offcentered */
.bubble-mode .type-emoji:not(.is-deleted) .message-contents {
  padding: 4px !important;
}

/* Fix for message reactions */
.message-reaction-container {
  border: none !important;
}

/* disabled send button text color */
.BrandSendButton-module__container:disabled svg,
.BrandSendButton-module__container[disabled] svg,
.BrandSendButton-module__container.disabled svg {
  color: var(--color-on-tertiary-container);
}

/* Send button background color */
.BrandSendButton-module__container:disabled {
  background-color: #2f2f2f !important;
}
.BrandSendButton-module__container:enabled:hover {
  background-color: #56add5 !important;
}
.BrandSendButton-module__container {
  transition: background-color 0.2s ease;
}

/*
  ------
  Emoji Picker
  ------
*/

/* Emoji picker selected state */
.emoji-mart-anchor-selected {
  color: #60CDFF !important;
}
.emoji-mart-anchor-bar {
  background-color: #60CDFF !important;
}

/* Emoji picker fonts */
:root:not(.is-mac) .emoji-mart-emoji-native {
  font-family: "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

/*
  ------
  Message Header (channel name, feedback button, info button)
  ------
*/

/* Header size */
.right-pane-header {
  height: 64px !important;
  padding-top: 8px !important;
}

/* Channel name alignment */
.thread-header {
  padding-left: 24px !important;
  justify-content: start !important;
  align-content: start !important;
}

/* Chanel name hover effect & padding */
.thread-header-left {
  padding: 8px !important;
}
.thread-header-left:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px !important;
}

/* Feedback button */
.feedback-btn:hover {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px !important;
}
.feedback-btn {
  transition: background-color 0.2s ease;
}

/* Info button */
.toggle-thread-info {
  color: white !important;
  transition: color 0.2s ease;
  padding-right: 4px;
}

.toggle-thread-info:hover {
  backdrop-filter: blur(4px);
  color: #a1a1a1 !important;
}

/*
  ------
  Animations for the blue indicators
  ------
*/

/* Small vertical center animation (servers) */
@keyframes wui-h-center {
    0% {
        height: 5px
    }

    100% {
        height: 18px;
    }
}

/* Small horizontal center animation (pinned chats) */
@keyframes wui-w-center {
    0% {
        width: 4px;
        left: calc(50% - 4px);
    }

    100% {
        width: 34px;
        left: calc(50% - 17px);
    }
}

/* Small horizontal center animation (filters) */
@keyframes wui-w-center-2 {
    0% {
        width: 4px;
        left: calc(50% - 4px);
    }

    100% {
        width: 18px;
        left: calc(50% - 9px);
    }
}

/* Small vertical center animation (main chats) */
@keyframes wui-h-center-2 {
    0% {
        height: 5px
    }

    100% {
        height: 34px;
    }
}
