/*
# Custom Beeper app style
This file will be injected as a <style> tag
After making your changes, type "Reload custom CSS" in the command bar
To open dev tools, open the command bar and type "open console"
*/

/* Changed background color for dark mode */
:root {
  --color-base-black: #282828 !important;
  --color-base-gray-30: #282828 !important;
}

/*
  ------
  Terrible tooltips
  ------
*/
.BrandTooltip-module__tooltip {
  display: none !important;
}

/*
  ------
  Left sidebar with servers
  ------
*/

/* Blue indicator when selected */
.BrandTooltip-module__container.sidebar-button.selected::before {
    position: absolute;
    content: "";
    height: 16px;
    border-radius: 4px;
    width: 2px;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    background-color: #60CDFF;
    animation: wui-h-center 0.3s 1;
}

/* Focus effect when selected */
.BrandTooltip-module__container.sidebar-button.selected:focus {
  backdrop-filter: blur(4px);
  background-color: rgba(0,95,186,0.08);
}

/* Hover effect */
.BrandTooltip-module__container.sidebar-button:hover {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);
}

/* Button Sizes */
.sidebar-button-container button {
  width: 36px !important;
  height: 32px !important;
}
.sidebar-button-container {
  height: auto !important;
  width: 36px !important;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
  padding-right: 0 !important;
}

/* Icon sizes */
.brand-combined-icon.BrandNetworkIcon-module__brandNetworkIcon {
  width: 18px !important;
  height: 18px !important;
  margin: 0 auto !important;
}
.brand-combined-icon.participant-img  {
  width: 18px !important;
  height: 18px !important;
  margin: 0 auto !important;
  border-radius: 35% !important;
}

/* Sidebar size */
.account-switcher {
  padding: 0 !important;
  width: 44px !important;
}

/* Removed annoying hovering trigger that actually breaks hovering */
.Sidebar-module__hoveringTrigger {
  width: 0px !important;
}

/* Transition effect for footer buttons (settings and new account) */
.left-pane-footer-buttons {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Footer icon sizes */
.left-pane-footer-buttons>.BrandTooltip-module__container>button>svg {
  width: 16px !important;
  height: 16px !important;
}

/* Footer button size */
.left-pane-footer-buttons>.BrandTooltip-module__container>button {
  width: 36px !important;
  height: 32px !important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Footer button hover effect */
.left-pane-footer-buttons>.BrandTooltip-module__container>button:hover {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px !important;
}

/* Transition and Border Radius when hovering icons */
.filters-pane-list .sidebar-button {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 4px !important;
}

/* 
  ------
  Message threads (chats) header
  ------
*/

/* Hover effect for the tab bar (search and new chat) */
.BrandTooltip-module__container.tab-bar-btn:hover {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px !important;
  
}

/* Hover effect for the channel name in header */
.CurrentAccount-module__sidebarHeader:hover {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px !important;
}

/* Channel name padding */
.CurrentAccount-module__sidebarHeader {
  padding: 8px !important;
}

/* 
  ------
  Left sidebar with message threads (chats)
  ------
*/

/* Hover effect for Inbox/Unread/Low Priority/Archived */
.AccountFilters-module__button:hover {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px !important;
}

/* Focus effect for Inbox/Unread/Low Priority/Archived */
.AccountFilters-module__selected {
  backdrop-filter: blur(4px);
  background-color: rgba(0,95,186,0.08);
  border-radius: 4px !important;
}

/* Sidebar thread animation and border radius */
.sidebar-thread {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 4px;
}

/* Blue indicator when PINNED selected */
.sidebar-thread.isSelected.isPinned::before {
    position: absolute;
    content: "";
    height: 4px;
    border-radius: 4px;
    width: 32px;
    bottom: 0px;
    top: calc(100% - 6px);
    transform: translateY(50%);
    left: calc(50% - 32px / 2);
    background-color: #60CDFF;
    animation: wui-w-center 0.3s 1;
}

/* Blue indicator when selected in main chats */
.sidebar-thread.isSelected::before {
    position: absolute;
    content: "";
    height: 32px;
    border-radius: 4px;
    width: 4px;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    background-color: #60CDFF;
    animation: wui-h-center-2 0.3s 1;
}

/* Focus effect when selected */
.sidebar-thread.isSelected:focus {
  backdrop-filter: blur(4px);
  background-color: rgba(0,95,186,0.08);
  border-radius: 4px !important;
}

/* Hover effect */
.sidebar-thread:hover {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px !important;
}

/* Border radius for selected chats */
.ThreadListItem-module__wrapper.ThreadListItem-module__isSelected::before {
  border-radius: 4px !important;
}

/* Badge size */
.account-badge-count {
  min-width: 12px !important;
  max-height: 12px !important;
  font-size: xx-small !important;
  z-index: 999 !important;
}

/* Remove mask from behind the badge */
.BrandTooltip-module__container.sidebar-button {
  mask-image: none !important;
  -webkit-mask-image: none !important;
}

/* Fix for network icons appearing cut off */
.ThreadListItem-module__platformIcon {
  width: auto !important;
  height: auto !important;
}

/*
  ------
  Command Bar / Search Bar
  ------
*/

/* Command Bar Modal at the top */
.modal-container.command-bar-modal {
  justify-content: start !important;
}

/*
  ------
  Right pane (message content, settings, etc.)
  ------
*/

/* Removed frame gap to take full height */
.right-wrapper {
  --frame-gap: 0px !important;
  border-radius: 0% !important;
}

/*
  ------
  Message Header (channel name, feedback button, info button)
  ------
*/

/* Header size */
.right-pane-header {
  height: 64px !important;
  padding-top: 8px !important;
}

/* Channel name alignment */
.thread-header {
  padding-left: 24px !important;
  justify-content: start !important;
  align-content: start !important;
}

/*
  ------
  Animations for the blue indicators
  ------
*/

/* Small vertical center animation (servers) */
@keyframes wui-h-center {
    0% {
        height: 5px
    }

    100% {
        height: 18px;
    }
}

/* Small horizontal center animation (pinned chats) */
@keyframes wui-w-center {
    0% {
        width: 4px;
        left: calc(50% - 4px);
    }

    100% {
        width: 34px;
        left: calc(50% - 17px);
    }
}

/* Small vertical center animation (main chats) */
@keyframes wui-h-center-2 {
    0% {
        height: 5px
    }

    100% {
        height: 34px;
    }
}
